In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import dtale

In [2]:
sales= pd.read_csv(r'C:\Users\rhtkm\Downloads\Programs\BigMart Sales\archive\BigMart Sales.csv', encoding= 'unicode_escape')

In [3]:
sales.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
sales.drop(['Item_Identifier','Outlet_Identifier'],axis=1, inplace=True)

In [5]:
sales.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.50,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,1998,NaN,Tier 3,Grocery Store,732.3800
4,8.93,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052

In [6]:
sales.info()
#fillna Item_Weight, Outlet_Size

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                7060 non-null   float64
 1   Item_Fat_Content           8523 non-null   object
 2   Item_Visibility            8523 non-null   float64
 3   Item_Type                  8523 non-null   object
 4   Item_MRP                   8523 non-null   float64
 5   Outlet_Establishment_Year  8523 non-null   int64
 6   Outlet_Size                6113 non-null   object
 7   Outlet_Location_Type       8523 non-null   object
 8   Outlet_Type                8523 non-null   object
 9   Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(5)
memory usage: 666.0+ KB

In [7]:
sales['Item_Weight'].describe()
#Avg= 12.8 kg

count    7060.000000
mean       12.857645
std         4.643456
min         4.555000
25%         8.773750
50%        12.600000
75%        16.850000
max        21.350000
Name: Item_Weight, dtype: float64

In [8]:
sales['Item_Weight'].fillna(sales['Item_Weight'].mean(),inplace=True)

In [9]:
sales['Item_Weight'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 8523 entries, 0 to 8522
Series name: Item_Weight
Non-Null Count  Dtype
--------------  -----
8523 non-null   float64
dtypes: float64(1)
memory usage: 66.7 KB

In [10]:
sales['Outlet_Size'].value_counts()

Outlet_Size
Medium    2793
Small     2388
High       932
Name: count, dtype: int64

In [11]:
sales['Outlet_Size'].fillna(sales['Outlet_Size'].mode(),inplace=True)

In [12]:
sales['Outlet_Size'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 8523 entries, 0 to 8522
Series name: Outlet_Size
Non-Null Count  Dtype
--------------  -----
6113 non-null   object
dtypes: object(1)
memory usage: 66.7+ KB

# EDA with dtale

In [13]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                8523 non-null   float64
 1   Item_Fat_Content           8523 non-null   object
 2   Item_Visibility            8523 non-null   float64
 3   Item_Type                  8523 non-null   object
 4   Item_MRP                   8523 non-null   float64
 5   Outlet_Establishment_Year  8523 non-null   int64
 6   Outlet_Size                6113 non-null   object
 7   Outlet_Location_Type       8523 non-null   object
 8   Outlet_Type                8523 non-null   object
 9   Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(5)
memory usage: 666.0+ KB

In [14]:
dtale.show(sales)

# Label Encoding

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le=LabelEncoder()

In [17]:
sales.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.50,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,1998,NaN,Tier 3,Grocery Store,732.3800
4,8.93,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052

In [18]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                8523 non-null   float64
 1   Item_Fat_Content           8523 non-null   object
 2   Item_Visibility            8523 non-null   float64
 3   Item_Type                  8523 non-null   object
 4   Item_MRP                   8523 non-null   float64
 5   Outlet_Establishment_Year  8523 non-null   int64
 6   Outlet_Size                6113 non-null   object
 7   Outlet_Location_Type       8523 non-null   object
 8   Outlet_Type                8523 non-null   object
 9   Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(5)
memory usage: 666.0+ KB

In [19]:
sales=sales.apply(le.fit_transform)

In [20]:
sales

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,284,1,664,4,5592,4,1,0,1,2540
1,57,2,880,14,473,8,1,2,2,422
2,376,1,715,10,2901,4,1,0,1,1639
3,393,2,0,6,4227,3,3,2,0,670
4,265,1,0,9,627,1,0,2,1,865
...,...,...,...,...,...,...,...,...,...,...
8518,125,1,3912,13,4955,1,0,2,1,2047
8519,233,2,3278,0,2023,5,3,1,1,516
8520,299,1,2302,8,1263,6,2,1,1,1018
8521,149,2,7175,13,1857,8,1,2,2,1466
8522,347,1,3108,14,1011,2,2,0,1,697

# One Hot Encoding

***More no. of column is not good for train data***

In [21]:
#sales.info()

In [22]:
#from sklearn.preprocessing import OneHotEncoder

In [23]:
#OHE=OneHotEncoder

In [24]:
#sales=pd.get_dummies(sales,columns=['Item_Fat_Content','Item_Type','Outlet_Size','Outlet_Location_Type','Outlet_Type'])

In [25]:
#sales.head()

# Train Test Split

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
sales

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,284,1,664,4,5592,4,1,0,1,2540
1,57,2,880,14,473,8,1,2,2,422
2,376,1,715,10,2901,4,1,0,1,1639
3,393,2,0,6,4227,3,3,2,0,670
4,265,1,0,9,627,1,0,2,1,865
...,...,...,...,...,...,...,...,...,...,...
8518,125,1,3912,13,4955,1,0,2,1,2047
8519,233,2,3278,0,2023,5,3,1,1,516
8520,299,1,2302,8,1263,6,2,1,1,1018
8521,149,2,7175,13,1857,8,1,2,2,1466
8522,347,1,3108,14,1011,2,2,0,1,697

In [28]:
x=sales.drop('Item_Outlet_Sales',axis=1)

In [29]:
y=sales['Item_Outlet_Sales']

In [30]:
sales['Item_Outlet_Sales'][0]

2540

In [31]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=101,test_size=0.2)

In [32]:
y_train

3684     144
1935    1311
5142    1242
4978    1426
2299    2462
        ...
599     3137
5695    1193
8006    1684
1361    2001
1547     746
Name: Item_Outlet_Sales, Length: 6818, dtype: int64

# Data Standardisation

In [33]:
from sklearn.preprocessing import StandardScaler
sd=StandardScaler()

In [34]:
x_train_sd=sd.fit_transform(x_train)

In [35]:
x_test_sd=sd.fit_transform(x_test)

# Model Building

In [36]:
from sklearn.linear_model import LinearRegression
lr= LinearRegression()

In [37]:
lr.fit(x_train_sd,y_train)

LinearRegression()

In [38]:
x_test.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
8179,305,1,3815,8,1753,8,1,2,2
8355,381,1,2651,13,3152,1,0,2,1
3411,190,2,4881,1,1062,2,2,0,1
7089,408,1,3427,6,207,7,3,1,1
6954,175,1,1624,3,3291,5,3,1,1

In [39]:
lr.predict(x_test_sd)

array([1572.05823518, 1339.76057806, 1015.46864306, ...,  981.21240407,
       1791.10387642, 1617.78554081])

In [40]:
y_pred_lr=lr.predict(x_test_sd)

In [41]:
y_pred_lr

array([1572.05823518, 1339.76057806, 1015.46864306, ...,  981.21240407,
       1791.10387642, 1617.78554081])

***Check accuracy- r2_score, mean_absolute_error,mean_squared_error***

In [42]:
from sklearn.metrics import r2_score, mean_absolute_error,mean_squared_error

In [43]:
r2_score(y_test,y_pred_lr)

0.5252773126481587

In [44]:
mean_absolute_error(y_test,y_pred_lr)

499.8136606071186

In [45]:
np.sqrt(mean_squared_error(y_test,y_pred_lr))

626.9971845494623

***(Optional)Check accuracy- Random Forest Regressor, Hyper Parameter Tuning***

# Save Model Predict

In [46]:
import joblib

In [47]:
joblib.dump(sd,r'C:\Users\rhtkm\Downloads\Programs\BigMart Sales\archive\Model Predict\StandardScaler.sav')

['C:\\Users\\rhtkm\\Downloads\\Programs\\BigMart Sales\\archive\\Model Predict\\StandardScaler.sav']

In [48]:
joblib.dump(lr,r'C:\Users\rhtkm\Downloads\Programs\BigMart Sales\archive\Model Predict\LinearRegression.sav')

['C:\\Users\\rhtkm\\Downloads\\Programs\\BigMart Sales\\archive\\Model Predict\\LinearRegression.sav']

# Load Standard Scaler Model

In [49]:
model=joblib.load(r'C:\Users\rhtkm\Downloads\Programs\BigMart Sales\archive\Model Predict\LinearRegression.sav')

In [50]:
y_pred_lr=model.predict(x_test_sd)

In [51]:
y_pred_lr

array([1572.05823518, 1339.76057806, 1015.46864306, ...,  981.21240407,
       1791.10387642, 1617.78554081])

In [52]:
y_test

8179     801
8355    2056
3411    1529
7089     779
6954    1858
        ...
1317    1386
4996     808
531      356
3891    1144
6629    1839
Name: Item_Outlet_Sales, Length: 1705, dtype: int64